# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

################
*.pyc
*.pyo
.ipynb_checkpoints/
.cache
.mypy_cache
__pycache__
__pyccel__
__epyccel__
.DS_Store
.vscode

build
*egg*
*dist*

doc/_build
doc/source

*.pyccel
*.mod
*.out
*.o
*.so
*.log
*.ps
*.gv
*.exe
*.lock

*.swp

pyccel/compilers/*.json

tests/*.pyccel
tests/*.f90
tests/*.mod
tests/*.o
tests/scripts/*.pyccel
tests/scripts/*.f90
tests/scripts/*.mod
tests/scripts/*.o
tests/scripts/core/*.pyccel
tests/scripts/core/*.f90
tests/scripts/core/*.mod
tests/scripts/core/*.o

tests/pyccel/scripts/runtest_headers.py
tests/pyccel/scripts/headers.pyh
tests/pyccel/scripts/test_headers.py

tests/examples/*.pyccel
tests/examples/*.f90
tests/examples/*.mod
tests/examples/*.o
tests/examples/openmp/*.pyccel
tests/examples/openmp/*.f90
tests/examples/openmp/*.mod
tests/examples/openmp/*.o

benchmarks/tmp/*

test.sh