sudo: required
language: python

# which python versions to test
python:
#  - "2.6"
  - "2.7"
#  - "3.2"
#  - "3.3"
#  - "3.4"
#  - "3.5"
#  - "3.5-dev" # 3.5 development branch
#  - "3.6"
#  - "3.6-dev" # 3.6 development branch
#  - "3.7-dev" # 3.7 development branch
#  - "nightly"

virtualenv:
    system_site_packages: true

# command before installation
before_install:
  - sudo apt-get install gfortran

# command to install dependencies
install:
  - pip install -r requirements.txt

# command to run tests
script:
#  - pytest # or py.test for Python versions 3.5 and below
  - python tests/test_pyccel.py
