include AUTHORS
include CHANGES
include LICENSE
include README.md

recursive-include pyccel *.tx
recursive-include pyccel *.pyh
recursive-include pyccel *.c
recursive-include pyccel *.cu
recursive-include pyccel *.f90
recursive-include pyccel *.h
recursive-include pyccel *.pyccel

graft docs
graft samples
graft tests
