include AUTHORS
include CHANGELOG
include LICENSE
include README.md

recursive-include pyccel/pyccel *.tx
recursive-include pyccel/pyccel *.pyh
recursive-include pyccel/pyccel *.c
recursive-include pyccel/pyccel *.f90
recursive-include pyccel/pyccel *.h
recursive-include pyccel/pyccel *.pyccel

graft developer_docs
graft tests
graft tutorial
