sphinx
sphinxcontrib-bibtex==0.3.6

git+git://github.com/saidctb/sphinx-execute-code
numpy
scipy
textx==1.6.1
sympy==1.1.1
pylint==1.8.2
parse==1.8.2
redbaron==0.6.3
pytest==3.4.2
tabulate==0.8.2
termcolor
