name: Anaconda-Windows

on:
  workflow_dispatch:
    inputs:
      python_version:
        required: true
        type: string
      ref:
        required: false
        type: string
      check_run_id:
        required: false
        type: string
      pr_repo:
        required: false
        type: string

env:
  COMMIT: ${{ inputs.ref || github.event.ref }}
  PEM: ${{ secrets.BOT_PEM }}
  GITHUB_RUN_ID: ${{ github.run_id }}
  GITHUB_CHECK_RUN_ID: ${{ inputs.check_run_id }}
  PR_REPO: ${{ inputs.pr_repo || github.repository }}

jobs:
  Anaconda-Windows:
    runs-on: windows-latest
    name: Unit tests

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ env.COMMIT }}
          repository: ${{ env.PR_REPO }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          auto-activate-base: true
          python-version: ${{ inputs.python_version }}
      - name: "Setup"
        id: token
        run: |
          python -m pip install jwt requests
          python ci_tools/setup_check_run.py
          which python
        shell: 'bash -l -eo pipefail {0}'
      #- name: Install dependencies
      #  uses: ./.github/actions/windows_install
      #- name: Install python dependencies
      #  uses: ./.github/actions/conda_installation
      #  with:
      #    mpi_type: msmpi
      #- name: Fortran/C tests with pytest
      #  id: f_c_pytest
      #  timeout-minutes: 60
      #  uses: ./.github/actions/pytest_run
      #  with:
      #    shell_cmd: 'bash -l -eo pipefail {0}'
      #    pytest_mark: 'and not external'
      #- name: Python tests with pytest
      #  id: python_pytest
      #  timeout-minutes: 20
      #  uses: ./.github/actions/pytest_run_python
      #  with:
      #    shell_cmd: 'bash -l -eo pipefail {0}'
      - name: "Post completed"
        if: always()
        run:
          which python
          python --version
          python ci_tools/complete_check_run.py ${{ steps.f_c_pytest.outcome }} ${{ steps.python_pytest.outcome }}
        shell: 'bash -l -eo pipefail {0}'
