name: Benchmarks

on:
  push:
    branches: [ pyccel/master ]

jobs:

  Benchmark:

    runs-on: ubuntu-latest

    steps:
      - name: Set up ssh
        uses: webfactory/ssh-agent@v0.7.0
        with:
            ssh-private-key: ${{ secrets.SSH_DEPLOY_KEY }}
      - name: Clone pyccel-benchmarks repository
        working-directory: ../
        run: |
          git clone git@github.com:pyccel/pyccel-benchmarks.git
      - name: Push results to pyccel-benchmarks
        working-directory: ../pyccel-benchmarks
        run: |
          export GIT_AUTHOR_NAME="Pyccel/pyccel"
          export GIT_AUTHOR_EMAIL="41898282+github-actions[bot]@users.noreply.github.com"
          git config user.email ${GIT_AUTHOR_EMAIL}
          git config user.name ${GIT_AUTHOR_NAME}
          git commit --allow-empty -m "Benchmark of pyccel/pyccel@${GITHUB_SHA}"
          git push
