name: Check Pull Request Compliance

on:
  pull_request:
    types: [ opened, synchronize, reopened, labeled, unlabeled, ready_for_review, converted_to_draft ]

jobs:
  Check_Labels:
    name: Check labels
    runs-on: ubuntu-latest

    steps:
      - run: |
          if [ ${FIRST_REVIEW} ] || [ ${SENIOR_REVIEW} ] || [ ${COMPLETED_REVIEW} ]
          then
             HAS_LABELS=true
          else
             HAS_LABELS=false
          fi
          MULTI_LABELS=$(( (${FIRST_REVIEW} && ${SENIOR_REVIEW}) || (${FIRST_REVIEW} && ${COMPLETED_REVIEW}) || (${SENIOR_REVIEW} && ${COMPLETED_REVIEW}) ))
          echo ${FIRST_REVIEW} ${SENIOR_REVIEW} ${COMPLETED_REVIEW} ${DRAFT} ${MULTI_LABELS} ${HAS_LABEL}
          if [ $MULTI_LABELS ]
          then
              gh pr comment ${{github.event.pull_request.url}} -b "It looks like you are have mixed up the review labels. Please check the [review process docs](https://github.com/pyccel/pyccel/blob/master/developer_docs/review_process.md) to find the correct flag"
          elif [ ${HAS_LABEL} ] && [ ${DRAFT} ]
          then
              gh pr comment ${{github.event.pull_request.url}} -b "This PR is asking for a review but it is still in draft. Please either remove the Draft status or remove the labels."
          fi
          echo ${{github.event.pull_request.url}}
          echo ${{github.event.pull_request.html_url}}
          echo ${{github.event.pull_request.issue_url}}
          echo ${{github.event.pull_request.comments_url}}
          gh pr comment ${{github.event.pull_request.url}} -b "Github writing!"
          gh pr edit ${{github.event.pull_request.url}} --add-label needs_initial_review
        shell: bash
        env:
          FIRST_REVIEW: ${{ contains( github.event.pull_request.labels.*.name, 'needs_initial_review' ) }}
          SENIOR_REVIEW: ${{ contains( github.event.pull_request.labels.*.name, 'Ready_for_review' ) }}
          COMPLETED_REVIEW: ${{ contains( github.event.pull_request.labels.*.name, 'Ready_to_merge' ) }}
          DRAFT: ${{ github.event.pull_request.draft }}
          GH_TOKEN: ${{ github.token }}

