name: Check Pull Request Compliance

on:
  pull_request:
    types: [ opened, synchronize, reopened, labeled, unlabeled, ready_for_review, converted_to_draft ]

jobs:
  Check_Labels:
    name: Check labels
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: |
          echo ${{ github.event.pull_request.base.ref }}
          echo ${{ github.event.pull_request.head.ref }}
          if [[ ${FIRST_REVIEW} || ${SENIOR_REVIEW} || ${COMPLETED_REVIEW} ]]
          then
             HAS_LABEL=true
          else
             HAS_LABEL=false
          fi
          echo ${FIRST_REVIEW} ${SENIOR_REVIEW} ${COMPLETED_REVIEW} ${HAS_LABEL}
          if [[ (${FIRST_REVIEW} && ${SENIOR_REVIEW}) || (${FIRST_REVIEW} && ${COMPLETED_REVIEW}) || (${SENIOR_REVIEW} && ${COMPLETED_REVIEW}) ]]
          then
             MULTI_LABELS=false
          else
             MULTI_LABELS=$HAS_LABEL
          fi
          echo ${FIRST_REVIEW} ${SENIOR_REVIEW} ${COMPLETED_REVIEW} ${DRAFT} ${MULTI_LABELS} ${HAS_LABEL}
          if [ $MULTI_LABELS ]
          then
              gh pr comment ${{github.event.pull_request.number}} -b "It looks like you are have mixed up the review labels. Please check the [review process docs](https://github.com/pyccel/pyccel/blob/master/developer_docs/review_process.md) to find the correct flag"
              gh pr edit ${{github.event.pull_request.number}} --remove-label needs_initial_review --remove-label Ready_for_review --remove-label Ready_to_merge
          elif [[ ${HAS_LABEL} && ${DRAFT} ]]
          then
              gh pr comment ${{github.event.pull_request.number}} -b "This PR is asking for a review but it is still in draft. Please either remove the Draft status or remove the labels."
          elif [[ !(${HAS_LABEL}) && !(${DRAFT}) ]]
          then
              gh pr comment ${{github.event.pull_request.number}} -b "This PR is marked as ready for a review but it does not have the correct label as per the [review process docs](https://github.com/pyccel/pyccel/blob/master/developer_docs/review_process.md). I will add it for you."
              gh pr edit ${{github.event.pull_request.number}} --add-label needs_initial_review
          fi
          gh pr status ${{github.event.pull_request.number}} --json reviewDecision
        shell: bash
        env:
          FIRST_REVIEW: ${{ contains( github.event.pull_request.labels.*.name, 'needs_initial_review' ) }}
          SENIOR_REVIEW: ${{ contains( github.event.pull_request.labels.*.name, 'Ready_for_review' ) }}
          COMPLETED_REVIEW: ${{ contains( github.event.pull_request.labels.*.name, 'Ready_to_merge' ) }}
          DRAFT: ${{ github.event.pull_request.draft }}
          GH_TOKEN: ${{ github.token }}

