name: Deploy new version to PyPi

on:
  workflow_run:
    workflows: [Wheel-pickled-installation]
    types:
      - completed

jobs:
  waitForWorklows:
    name: Wait for workflows
    runs-on: ubuntu-latest
    if: github.event.workflow_run.head_branch == 'main'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Install python dependencies
        run: |
          python -m pip install requests jwt
      - name: Wait for workflows
        run: |
          python3 wait_for_main_workflows.py
        working-directory: ./ci_tools
        shell: bash
        env:
          COMMIT: ${{ github.event.workflow_run.head_sha }}

  deployVersion:
    runs-on: ubuntu-latest
    needs: [waitForWorklows]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install dependencies
        uses: ./.github/actions/linux_install
      - name: Update build
        run: |
          python -m pip install --upgrade build
      - name: Build and deploy
        run: |
          echo ${{ github.event.workflow_run.head_branch }}
          python3 -m build
          ls dist/*
          python3 -m twine upload --repository testpypi dist/* --non-interactive
        shell: bash
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}

