name: Doc Coverage Action

on:
  workflow_call:
    inputs:
      python_version:
        required: true
        type: string
      ref:
        required: false
        type: string
      base:
        required: true
        type: string

jobs:

  DocumentationChecker:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.base }}
          path: base
      - uses: actions/checkout@v3
        with:
          path: compare
          ref: ${{ inputs.ref }}
      - name: Set up Python ${{ inputs.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python_version }}
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install docstr-coverage
          python -m pip install numpydoc
        shell: bash
      - name: Show report
        run: |
          echo "${{ github.event.pull_request.base.sha }}"
          docstr-coverage base/pyccel 2>base_cov || true
          docstr-coverage compare/pyccel 2>compare_cov || true
          python compare/ci_tools/summarise_doccoverage.py compare_cov base_cov $GITHUB_STEP_SUMMARY
          cd compare
          pip install .
          git fetch &>/dev/null
          git diff ${{ inputs.base }}..HEAD --no-indent-heuristic --unified=0 --output=pull_diff.txt --no-color &>/dev/null
          touch objects.txt
          touch report.txt
          python ci_tools/list_docs_tovalidate.py pull_diff.txt objects.txt
          while read line; do    
            python -m numpydoc --validate $line >> report.txt 2>&1 || true 
          done < objects.txt
          cat report.txt
          python ci_tools/process_results.py report.txt $GITHUB_STEP_SUMMARY
        shell: bash
