name: Doc Coverage Action

on:
  pull_request:
    branches: [ master ]

jobs:

  DocumentationChecker:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.base.sha }}
          path: base
      - uses: actions/checkout@v3
        with:
          path: compare
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pip install docstr-coverage
        shell: bash
      - name: Show report
        run: |
          docstr-coverage base/pyccel 2>base_cov || true
          docstr-coverage compare/pyccel 2>compare_cov || true
          python compare/ci_tools/summarise_doccoverage.py compare_cov base_cov
          cd compare
          BASE_BRANCH=$GITHUB_BASE_REF
          git fetch
          git diff origin/${BASE_BRANCH}..HEAD --no-indent-heuristic --unified=0 --output=pull_diff.txt --no-color &>/dev/null
          python ci_tools/list_changed_files.py pull_diff.txt changed_files.txt
          python ci_tools/list_docs_tovalidate.py changed_files.txt objects.txt
          cat objects.txt
