name: documentation

on:
  push:
    branches: [ devel ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_docs:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN}}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: true
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10
    - name: Install dependencies
      if: steps.duplicate_check.outputs.should_skip != 'true'
      uses: ./.github/actions/linux_install
    - name: Install non-Python dependencies on Ubuntu
      run: |
        sudo apt update
        sudo apt install graphviz
    - name: Install Python dependencies
      run: |
        pip3 install .
        pip3 install -r docs/requirements.txt
    - name: Make the sphinx doc
      run: |
        make -C docs html
    - name: Setup Pages
      uses: actions/configure-pages@v5
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: 'docs/build/html'
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4

