name: Pyccel tests

on:
  pull_request_target:
    branches: [ master ]
    types: [ opened, ready_for_review, synchronize ]
  issue_comment:
    types: [ created ]
  pull_request_review:
    types: [ submitted ]

jobs:
  Bot:
    if: ${{ ( github.event_name == 'pull_request' ) || (github.event_name == 'issue_comment' && github.event.issue.pull_request ) }}
    runs-on: ubuntu-latest
    outputs:
      run_linux: ${{ steps.run_bot.outputs.run_linux }}
      run_windows: ${{ steps.run_bot.outputs.run_windows }}
      run_macosx: ${{ steps.run_bot.outputs.run_macosx }}
      run_coverage: ${{ steps.run_bot.outputs.run_coverage }}
      run_docs: ${{ steps.run_bot.outputs.run_docs }}
      run_pylint: ${{ steps.run_bot.outputs.run_pylint }}
      run_lint: ${{ steps.run_bot.outputs.run_lint }}
      run_spelling: ${{ steps.run_bot.outputs.run_spelling }}
      run_pickle: ${{ steps.run_bot.outputs.run_pickle }}
      run_editable_pickle: ${{ steps.run_bot.outputs.run_editable_pickle }}
      run_pickle_wheel: ${{ steps.run_bot.outputs.run_pickle_wheel }}
      run_linux_anaconda: ${{ steps.run_bot.outputs.run_linux_anaconda }}
      run_windows_anaconda: ${{ steps.run_bot.outputs.run_windows_anaconda }}
      BASE: ${{ steps.run_bot.outputs.BASE }}
      REF: ${{ steps.run_bot.outputs.REF }}
      status_url: ${{ steps.run_bot.outputs.status_url }}
      cleanup_trigger: ${{ steps.run_bot.outputs.cleanup_trigger }}
      python_version: ${{ steps.run_bot.outputs.python_version }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ inputs.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - id: run_bot
        run: |
          python ci_tools/bot_interaction.py $GITHUB_EVENT_PATH $GITHUB_OUTPUT ${{ github.run_id }}
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Post status
        if: ${{ steps.run_bot.outputs.cleanup_trigger == 'update_test_information' }}
        run: |
          gh api --method POST -H "Accept: application/vnd.github+json" \
            ${{ steps.run_bot.outputs.status_url }} \
            -f state='pending' -f target_url="${{ github.event.repository.html_url }}/actions/runs/${{ github.run_id }}" \
            -f description="${{ github.event.comment.body }}" -f context="Tests on Draft"
        env:
          GH_TOKEN: ${{ github.token }}

  Linux:
    needs: Bot
    if: ${{ needs.Bot.outputs.run_linux == 'True' }}
    uses:
      ./.github/workflows/linux.yml
    with:
      python_version: ${{ (needs.Bot.outputs.python_version == '') && '3.7' || needs.Bot.outputs.python_version  }}
      ref: ${{ needs.Bot.outputs.REF}}

  Windows:
    needs: Bot
    if: ${{ needs.Bot.outputs.run_windows == 'True' }}
    uses:
      ./.github/workflows/windows.yml
    with:
      python_version: ${{ (needs.Bot.outputs.python_version == '') && '3.7' || needs.Bot.outputs.python_version  }}
      ref: ${{ needs.Bot.outputs.REF }}

  MacOSX:
    needs: Bot
    if: ${{ needs.Bot.outputs.run_macosx == 'True' }}
    uses:
      ./.github/workflows/macosx.yml
    with:
      python_version: ${{ (needs.Bot.outputs.python_version == '') && '3.10' || needs.Bot.outputs.python_version  }}
      ref: ${{ needs.Bot.outputs.REF }}

  CoverageChecker:
    needs: [Bot, Linux]
    if: ${{ needs.Bot.outputs.run_coverage == 'True' }}
    uses:
      ./.github/workflows/coverage.yml
    with:
      python_version: ${{ (needs.Bot.outputs.python_version == '') && '3.7' || needs.Bot.outputs.python_version  }}
      ref: ${{ needs.Bot.outputs.REF }}

  DocumentationChecker:
    needs: Bot
    if: ${{ needs.Bot.outputs.run_docs == 'True' }}
    uses:
      ./.github/workflows/doc_coverage.yml
    with:
      python_version: ${{ (needs.Bot.outputs.python_version == '') && '3.8' || needs.Bot.outputs.python_version  }}
      base: ${{ needs.Bot.outputs.BASE }}
      ref: ${{ needs.Bot.outputs.REF }}

  PythonLint:
    needs: Bot
    if: ${{ needs.Bot.outputs.run_pylint == 'True' }}
    uses:
      ./.github/workflows/lint.yml
    with:
      python_version: ${{ (needs.Bot.outputs.python_version == '') && '3.8' || needs.Bot.outputs.python_version  }}
      ref: ${{ needs.Bot.outputs.REF }}

  PyccelLint:
    needs: Bot
    if: ${{ needs.Bot.outputs.run_lint == 'True' }}
    uses:
      ./.github/workflows/pyccel_lint.yml
    with:
      python_version: ${{ (needs.Bot.outputs.python_version == '') && '3.8' || needs.Bot.outputs.python_version  }}
      ref: ${{ needs.Bot.outputs.REF }}

  Spelling:
    needs: Bot
    if: ${{ needs.Bot.outputs.run_spelling == 'True' }}
    uses:
      ./.github/workflows/spelling.yml
    with:
      python_version: ${{ (needs.Bot.outputs.python_version == '') && '3.8' || needs.Bot.outputs.python_version  }}
      ref: ${{ needs.Bot.outputs.REF }}

  Pickled-installation:
    needs: Bot
    if: ${{ needs.Bot.outputs.run_pickle == 'True' }}
    uses:
      ./.github/workflows/pickle.yml
    with:
      python_version: ${{ (needs.Bot.outputs.python_version == '') && '3.7' || needs.Bot.outputs.python_version  }}
      ref: ${{ needs.Bot.outputs.REF }}

  Editable-pickled-installation:
    needs: Bot
    if: ${{ needs.Bot.outputs.run_editable_pickle == 'True' }}
    uses:
      ./.github/workflows/pickle.yml
    with:
      python_version: ${{ (needs.Bot.outputs.python_version == '') && '3.7' || needs.Bot.outputs.python_version  }}
      editable_string: '-e'
      ref: ${{ needs.Bot.outputs.REF }}

  Wheel-pickled-installation:
    needs: Bot
    if: ${{ needs.Bot.outputs.run_pickle_wheel == 'True' }}
    uses:
      ./.github/workflows/pickle_wheel.yml
    with:
      python_version: ${{ (needs.Bot.outputs.python_version == '') && '3.7' || needs.Bot.outputs.python_version  }}
      ref: ${{ needs.Bot.outputs.REF }}


  Anaconda-Linux:
    needs: Bot
    if: ${{ needs.Bot.outputs.run_linux_anaconda == 'True' }}
    uses:
      ./.github/workflows/anaconda_linux.yml
    with:
      python_version: ${{ (needs.Bot.outputs.python_version == '') && '3.10' || needs.Bot.outputs.python_version  }}
      ref: ${{ needs.Bot.outputs.REF }}

  Anaconda-Windows:
    needs: Bot
    if: ${{ needs.Bot.outputs.run_windows_anaconda == 'True' }}
    uses:
      ./.github/workflows/anaconda_windows.yml
    with:
      python_version: ${{ (needs.Bot.outputs.python_version == '') && '3.10' || needs.Bot.outputs.python_version  }}
      ref: ${{ needs.Bot.outputs.REF }}

  CleanUpBot:
    needs:
      - Bot
      - Linux
      - Windows
      - MacOSX
      - CoverageChecker
      - DocumentationChecker
      - PythonLint
      - PyccelLint
      - Spelling
      - Pickled-installation
      - Editable-pickled-installation
      - Wheel-pickled-installation
      - Anaconda-Linux
      - Anaconda-Windows
    if: ${{ always() && needs.Bot.outputs.cleanup_trigger != '' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ inputs.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - id: run_bot
        run: |
          python ci_tools/bot_interaction.py $GITHUB_EVENT_PATH $GITHUB_OUTPUT ${{ github.run_id }} ${{ needs.Bot.outputs.cleanup_trigger }}
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Post status
        run: |
          gh api --method POST -H "Accept: application/vnd.github+json" \
            ${{ needs.Bot.outputs.status_url }} \
            -f state="${{ steps.run_bot.outputs.global_state }}" -f target_url="${{ github.event.repository.html_url }}/actions/runs/${{ github.run_id }}" \
            -f description="${{ github.event.comment.body }}" -f context="Tests on Draft"
        env:
          GH_TOKEN: ${{ github.token }}
