name: Pyccel tests

on:
  pull_request:
    branches: [ master ]

jobs:
  Linux:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Install dependencies
        uses: ./.github/actions/linux_install
      - name: Install python dependencies
        uses: ./.github/actions/pip_installation

  DocumentationChecker:

    runs-on: ubuntu-latest
    needs: Linux

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: head
      - uses: actions/checkout@v3
        with:
          path: base
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pip install docstr-coverage
        shell: bash
      - name: Show workspace
        run: |
          echo "Documentation Coverage of Head Branch\n"
          docstr-coverage head/pyccel 2>&1 | tail -3
          echo "\nDocumentation Coverage of Base Branch\n"
          docstr-coverage base/pyccel 2>&1 | tail -3