name: Python Linting
on:
  pull_request:
    branches: [ master ]

concurrency:
  group: python_lint_${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  Linter:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pylint
        shell: bash
      - name: Pylint
        run: |
            python -m pylint --rcfile=.pylintrc pyccel/parser/semantic.py > $GITHUB_STEP_SUMMARY
        shell: bash
