name: Pickled-installation

on:
  workflow_call:
    inputs:
      python_version:
        required: true
        type: string
      ref:
        required: false
        type: string
      editable_string:
        required: false
        type: string

jobs:
  Pickled-installation:
    runs-on: ubuntu-latest
    name: Deploy tests

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        uses: ./.github/actions/linux_install
      - name: Install Pyccel
        run: |
          python -m pip install --upgrade pip
          echo "python -m pip install ${{ inputs.editable_string }} ."
          python -m pip install ${{ inputs.editable_string }} .
        shell: bash
      - name: Check for existence of pickled files
        uses: ./.github/actions/check_for_pickled
