name: Wheel-pickled-installation

on:
  workflow_call:
    inputs:
      python_version:
        required: true
        type: string
      ref:
        required: false
        type: string

jobs:
  Wheel-pickled-installation:
    runs-on: ubuntu-latest
    name: Deploy tests

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
      - name: Set up Python ${{ inputs.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python_version }}
      - name: Install dependencies
        uses: ./.github/actions/linux_install
      - name: Install Pyccel from wheel
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade build
          python -m build
          python -m pip install dist/*.whl
        shell: bash
      - name: Check for existence of pickled files
        uses: ./.github/actions/check_for_pickled
