name: Pyccel Linting

on:
  workflow_call:
    inputs:
      python_version:
        required: false
        type: string
        default: '3.8'
      ref:
        required: false
        type: string

jobs:
  Pyccel-Linter:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
      - name: Set up Python ${{ inputs.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python_version }}
      - name: Install dependencies
        uses: ./.github/actions/linux_install
      - name: Install Pyccel
        run: |
            python -m pip install --upgrade pip
            python -m pip install .
        shell: bash
      - name: Lint
        run: |
            python ci_tools/check_slots.py $GITHUB_STEP_SUMMARY
        shell: bash
