name: Spellcheck Action

on:
  workflow_dispatch:
    inputs:
      python_version:
        required: true
        type: string
      ref:
        required: false
        type: string
      check_run_id:
        required: false
        type: string
      pr_repo:
        required: false
        type: string
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

env:
  COMMIT: ${{ inputs.ref || github.event.ref }}
  PEM: ${{ secrets.BOT_PEM }}
  GITHUB_RUN_ID: ${{ github.run_id }}
  GITHUB_CHECK_RUN_ID: ${{ inputs.check_run_id }}
  PR_REPO: ${{ inputs.pr_repo || github.repository }}
  PYTHON_VERSION: ${{ inputs.python_version || '3.13' }}

jobs:
  Spelling:
    runs-on: ubuntu-latest
    name: Documentation spellcheck (spelling, ${{ inputs.python_version || '3.13' }})
    if: (github.event_name != 'pull_request' || github.event.pull_request.draft == false)

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.COMMIT }}
          repository: ${{ env.PR_REPO }}
          submodules: true
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: "Setup"
        if: github.event_name != 'pull_request'
        id: token
        run: |
          pip install jwt requests
          python ci_tools/setup_check_run.py spelling
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install pyspelling
          python -m pip install pymdown-extensions
          # Install any additional libraries required: additional plugins, documentation building libraries, etc.
      - name: Install Aspell
        run: |
          sudo apt-get install aspell aspell-en
      - name: Spell check
        id: spelling
        run: |
           python -m pyspelling > misspellings.txt || true
           cat misspellings.txt
           python ci_tools/summarise_pyspelling.py misspellings.txt $GITHUB_STEP_SUMMARY
      - name: Common spelling problems
        id: manual_spelling
        run: |
          python ci_tools/check_python_capitalisation.py >> $GITHUB_STEP_SUMMARY
      - name: Code spell check
        uses: crate-ci/typos@v1.29.10
        with:
          config: ./.typos.toml
      - name: "Post completed"
        if: always() && github.event_name != 'pull_request'
        run:
          python ci_tools/complete_check_run.py ${{ steps.spelling.outcome }} ${{ steps.manual_spelling.outcome }}
